[submodule "nextcloud"]
	path = apps/nextcloud
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = nextcloud
[submodule "keycloak"]
	path = apps/keycloak
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = keycloak
[submodule "iredmail"]
	path = apps/iredmail
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = iredmail
[submodule "pihole"]
	path = apps/pihole
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = pihole
[submodule "nginx"]
	path = apps/nginx
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = nginx
[submodule "adminer"]
	path = apps/adminer
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = adminer
[submodule "haproxy"]
	path = apps/haproxy
  url = https://github.com/igor-sadza/QualityFlag.git
  branch = haproxy
